<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
  Splurty was built by <a target="_blank" href="http://github.com/jocietimes">Jocelyn</a> a brand new software developer who loves movies even though she has no time to watch them anymore. 
  </p>
  <br />
  <p>
  She hopes to learn to code well enough to start a new career in the industry and put her multitasking, problem-solving mom skills to work! 
  </p>
  <p>
  I learned how to code using this <a target="_blank" href="https://online.bootcampspot.com">bootcamp</a>.
  </p> 

  <div class="row">
    <div class='col-12 col-sm-4'>
      <%= image_tag 'jmoney.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jocelyn Mellein</h2>
      <br />
      <p>
        Jocelyn Mellein is a new web developer. Though no previous postion held was IT related, she excells at learning new things and solving problems, while being efficient and enthusiastic. On top of creating a new career, she's the mom of 3 girls and wife to another web developer. She comes from a background in project management and client services.
      </p>
    </div>  
  </div>

</div>

<br />
<br />
<br />
<br />